In [1]:
%load_ext autoreload
%autoreload 2
import os
import torch
from glob import glob
import sys
from PIL import Image
import pandas as pd
from tqdm import tqdm
import pickle
import random

In [2]:
from model_class import *
from custom_transforms import transform_test
from custom_dataloader import EncodeDataFactory, TripletDataFactory

import torch
from encode_pipeline import *
from utils import visualize_group,export_pickle_file
# from train_pipeline import val_step

/home/taindp/anaconda3/envs/vision/lib/python3.6/site-packages/torchvision/transforms/transforms.py:1322: UserWarning: Argument interpolation should be of type InterpolationMode instead of int. Please, use InterpolationMode enum.
  "Argument interpolation should be of type InterpolationMode instead of int. "

cpu

In [3]:
_MODEL_PATH = '../../model'
_IMG_PATH = '../../data/meta_data'
_RESOURCE_PATH = '../../resource'
_ENCODE_VAL = '../../encode_val'
_ENCODE_FULL = '../../encode_full'

In [4]:
def synthesize_encode(_ENCODE_VAL):
    list_file_enc = glob(os.path.join(_ENCODE_VAL,'*'))
    list_file_enc = sorted(list_file_enc)
    # len(list_file_enc)
    n = 3
    list_file_enc_group = [sorted(list_file_enc[k:k+n]) for k in range(0, len(list_file_enc), n)]
#     list_id = []
    list_path = []
    list_vector = []
    for group in list_file_enc_group:
        _id,path,vector = group
        _id = torch.load(_id).numpy().tolist()
#         list_id += _id
        path = list(torch.load(path))
        list_path += path
        vector = torch.load(vector,map_location=torch.device('cpu'))
        list_vector.append(vector)
    
    full_vector = torch.cat(list_vector,0)
#     print(full_vector.shape)
    
    ## check duplicate
    unique_vector = []
    unique_path = []
    for idx, item in enumerate(list_path):
        if not item in unique_path:
            unique_path.append(item)
            unique_vector.append(full_vector[idx])
    
    return unique_vector,unique_path

In [5]:
vector_val,path_val = synthesize_encode(_ENCODE_VAL)
# vector_full,path_full = synthesize_encode(_ENCODE_FULL)

In [53]:
# path_val

In [7]:
# len(path_full),len(path_val)

In [8]:
df_val = pd.read_csv(os.path.join(_RESOURCE_PATH,'df_val.csv'))
# df_val

In [9]:
df_val

       product                                 path  group
0     66911001  ../../data/meta_data/66911001/0.jpg      0
1     67077697  ../../data/meta_data/67077697/4.jpg      0
2     67077697  ../../data/meta_data/67077697/5.jpg      0
3     67077697  ../../data/meta_data/67077697/1.jpg      1
4     67077697  ../../data/meta_data/67077697/3.jpg      1
...        ...                                  ...    ...
3809  89985941  ../../data/meta_data/89985941/6.jpg      1
3810  89985941  ../../data/meta_data/89985941/7.jpg      2
3811  89985941  ../../data/meta_data/89985941/8.jpg      2
3812  89985941  ../../data/meta_data/89985941/4.jpg      3
3813  89985941  ../../data/meta_data/89985941/3.jpg      4

[3814 rows x 3 columns]

In [15]:
a = [1,23,4]

In [45]:
random.sample(a,2)

[1, 23]

In [124]:
i=0
unique_prod_val = list(set(list(df_val['product'])))
list_regular = []

In [1046]:

# for item in tqdm(unique_prod_val):
item = unique_prod_val[i]
c = list(df_val['product']).count(item)
if c >= 2:

    dict_tmp = {}

    query_prod_val = df_val[df_val['product']==item]
    dict_prod_val = query_prod_val.to_dict('record')

#         sample_prod_val = random.sample(dict_prod_val, 2)
    input_ = random.choice(dict_prod_val)
    target = random.choice(dict_prod_val)

    while input_['group'] != target['group']:
        target = random.choice(dict_prod_val)
    dict_tmp['input'] = input_['path']
    dict_tmp['target'] = target['path']
    if dict_tmp['input'] != dict_tmp['target']:
        visualize_group([dict_tmp['input'],dict_tmp['target']],i)
i+=1

IndexError: list index out of range

In [1044]:
print(dict_tmp)
list_regular.append(dict_tmp)

{'input': '../../data/meta_data/46991335/0.jpg', 'target': '../../data/meta_data/46991335/1.jpg'}

In [1047]:
len(list_regular)

190

In [1049]:
df_regular = pd.DataFrame(list_regular)
df_regular.to_csv('../../investigate/regular_validation.csv',header=True,index=False)

In [1053]:
def distance(df_regular,path_val,vector_val,top_k):
    
#     for row in df_regular:
    list_input = list(df_regular['input'])
    list_target = list(df_regular['target'])
    
    count = 0
    
    for step,input_ in tqdm(enumerate(list_input),total=len(list_input)):
        
        input_idx = path_val.index(input_)
        input_vec = vector_val[input_idx]
        
        dict_score = {}

        for idx,target in enumerate(list_target):
            target_idx = path_val.index(target) 
            target_vec = vector_val[target_idx]
        
            d = torch.norm(input_vec-target_vec)
            
            dict_score[idx]=d
    
        score_sort = {k: v for k, v in sorted(dict_score.items(), key=lambda item: item[1])}
        top_score = list(score_sort.keys())[:top_k]
        
        ## check avaiable
        for top in top_score:
            q = df_regular[(df_regular['input']==input_) & (df_regular['target']==list_target[top])]
            if len(q) != 0:
#                 visualize_group([input_]+[list_target[top]],step)

                count += 1
                break
#             else:
#                 visualize_group([input_]+[list_target[top]],step)
#             visualize_group([input_]+[list_target[top_score]],step)
            
    print(count/len(df_regular))

In [1059]:
distance(df_regular,path_val,vector_val,3)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 190/190 [00:02<00:00, 72.86it/s]

0.2736842105263158