In [51]:
import pandas as pd
import os
from glob import glob
import random

In [19]:
a = [1,2,3,4]
random.choice(a)

2

In [41]:
random.randint(0,1)

1

In [3]:
_RESOURCE_PATH = '../../resource'

In [4]:
list_csv = glob(os.path.join(_RESOURCE_PATH,'*.csv'))
list_csv

['../../resource/1100_1200.csv',
 '../../resource/200_300.csv',
 '../../resource/2400_2500.csv',
 '../../resource/800_900.csv',
 '../../resource/2300_2400.csv',
 '../../resource/500_600.csv',
 '../../resource/300_400.csv',
 '../../resource/1600_1700.csv',
 '../../resource/2600_2700.csv',
 '../../resource/2700_2800.csv',
 '../../resource/700_800.csv',
 '../../resource/2100_2200.csv',
 '../../resource/1900_2000.csv',
 '../../resource/2000_2100.csv',
 '../../resource/2800_2851.csv',
 '../../resource/1300_1400.csv',
 '../../resource/100_200.csv',
 '../../resource/400_500.csv',
 '../../resource/0_100.csv',
 '../../resource/1000_1100.csv',
 '../../resource/600_700.csv',
 '../../resource/900_1000.csv',
 '../../resource/1800_1900.csv',
 '../../resource/1500_1600.csv',
 '../../resource/1700_1800.csv',
 '../../resource/1200_1300.csv',
 '../../resource/1400_1500.csv',
 '../../resource/2500_2600.csv',
 '../../resource/2200_2300.csv']

In [10]:
df_synth = pd.DataFrame([])

for f in list_csv:
    df_tmp = pd.read_csv(f)
    df_synth = pd.concat([df_synth,df_tmp],axis=0)
    
df_synth.reset_index(drop=True)

        product                                 path  group
0      66906355  ../../data/meta_data/66906355/0.jpg      0
1      66906355  ../../data/meta_data/66906355/1.jpg      0
2      66906355  ../../data/meta_data/66906355/3.jpg      0
3      66906355  ../../data/meta_data/66906355/4.jpg      0
4      66906355  ../../data/meta_data/66906355/5.jpg      0
...         ...                                  ...    ...
15527  89985941  ../../data/meta_data/89985941/6.jpg      1
15528  89985941  ../../data/meta_data/89985941/7.jpg      2
15529  89985941  ../../data/meta_data/89985941/8.jpg      2
15530  89985941  ../../data/meta_data/89985941/4.jpg      3
15531  89985941  ../../data/meta_data/89985941/3.jpg      4

[15532 rows x 3 columns]

In [11]:
df_synth.to_csv(os.path.join(_RESOURCE_PATH,'full_cluster_product.csv'),header=True,index=False)

In [42]:
df_synth[df_synth['product']==80713732]

      product                                 path  group
612  89985941  ../../data/meta_data/89985941/0.jpg      0
613  89985941  ../../data/meta_data/89985941/2.jpg      0
614  89985941  ../../data/meta_data/89985941/5.jpg      0
615  89985941  ../../data/meta_data/89985941/1.jpg      1
616  89985941  ../../data/meta_data/89985941/6.jpg      1
617  89985941  ../../data/meta_data/89985941/7.jpg      2
618  89985941  ../../data/meta_data/89985941/8.jpg      2
619  89985941  ../../data/meta_data/89985941/4.jpg      3
620  89985941  ../../data/meta_data/89985941/3.jpg      4

In [49]:
df_synth[(df_synth['product']==80713732) & (df_synth['group']==0)]

      product                                 path  group
612  89985941  ../../data/meta_data/89985941/0.jpg      0
613  89985941  ../../data/meta_data/89985941/2.jpg      0
614  89985941  ../../data/meta_data/89985941/5.jpg      0