In [8]:
import pandas as pd
import os
from sklearn.model_selection import train_test_split

In [2]:
cluster_product_path = '../../resource/full_cluster_product.csv'

In [3]:
df_product = pd.read_csv(cluster_product_path)
df_product

        product                                 path  group
0      66906355  ../../data/meta_data/66906355/0.jpg      0
1      66906355  ../../data/meta_data/66906355/1.jpg      0
2      66906355  ../../data/meta_data/66906355/3.jpg      0
3      66906355  ../../data/meta_data/66906355/4.jpg      0
4      66906355  ../../data/meta_data/66906355/5.jpg      0
...         ...                                  ...    ...
15527  89985941  ../../data/meta_data/89985941/6.jpg      1
15528  89985941  ../../data/meta_data/89985941/7.jpg      2
15529  89985941  ../../data/meta_data/89985941/8.jpg      2
15530  89985941  ../../data/meta_data/89985941/4.jpg      3
15531  89985941  ../../data/meta_data/89985941/3.jpg      4

[15532 rows x 3 columns]

In [4]:
unique_prod = list(set(list(df_product['product'])))

In [9]:
train_prod,test_prod = train_test_split(unique_prod,test_size=0.25,random_state=0, shuffle=True)

In [11]:
len(train_prod),len(test_prod)

(2125, 709)

In [19]:
df_product.loc[df_product['product'].isin(train_prod)]

        product                                 path  group
0      66906355  ../../data/meta_data/66906355/0.jpg      0
1      66906355  ../../data/meta_data/66906355/1.jpg      0
2      66906355  ../../data/meta_data/66906355/3.jpg      0
3      66906355  ../../data/meta_data/66906355/4.jpg      0
4      66906355  ../../data/meta_data/66906355/5.jpg      0
...         ...                                  ...    ...
15518  89985693  ../../data/meta_data/89985693/7.jpg      0
15519  89985693  ../../data/meta_data/89985693/8.jpg      0
15520  89985693  ../../data/meta_data/89985693/5.jpg      1
15521  89985693  ../../data/meta_data/89985693/3.jpg      2
15522  89985693  ../../data/meta_data/89985693/0.jpg      3

[11754 rows x 3 columns]